# Dados
data/logs/
data/raw/
data/processed/
data/shapes/
/data/

# Ignore dados pesados, mas permita outputs finais se quiser
data/**/*.parquet
data/**/*.csv

# Quarto / knitr
*_cache/
*_files/
_freeze/
.quarto/

# R
.Rproj.user/
.Rhistory
.RData
.Ruserdata

renv/library/
renv/staging/

.DS_Store
Thumbs.db
/.quarto/
**/*.quarto_ipynb
